[submodule "hardware/library/mysensors_symbols"]
	path = hardware/library/mysensors_symbols
	url = git@github.com:mysensors-kicad/mysensors_symbols.git
[submodule "hardware/library/mysensors_arduino.pretty"]
	path = hardware/library/mysensors_arduino.pretty
	url = https://github.com/mysensors-kicad/mysensors_arduino.pretty
